@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.paragraph {
  margin: 0;
  font-family: variables.$font-text;
  color: variables.$color-default;
  font-weight: 400;
  &--size--300 {
    @include mixins.paragraph-style(12px, 18px, 12px, -0.04px);
  }

  &--size--400 {
    @include mixins.paragraph-style(14px, 21px, 12px, -0.05px);
  }

  &--size--500 {
    @include mixins.paragraph-style(16px, 24px, 16px, -0.06px);
  }
}
