.panel {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &__select,
  &__checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
  }
}
